@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'JetBrains Mono', monospace;
}

/* NAV */

nav {
    width: 100%;
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.logo-top {
    width: 100px;
    height: 100px;
}

.links {
    display: flex;
}

.link {
    display: flex;
    margin-right: 12px;
    padding: 2px 8px;
    text-decoration: none;
    background-color: black;
    color: white;
    border: 2px solid black;
    border-radius: 999px;
    text-align: center;
    transition: all 300ms ease;
}

.link:hover {
    background-color: white;
    color: black;
    transform: translateY(-4px);
}



/* LANDING */



.title-main {
    font-size: 64px;
    max-width: 400px;
}
