@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;200;300;400;500;600;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "JetBrains Mono", monospace;
}

html {
    max-width: 100vw;
    scroll-behavior: smooth;
}

.page__container {
    padding: 0 20px;
}

.container {
  width: 100%;
  padding: 50px 0;
}

.container__mod1 {
  margin-bottom: 0;
}

.row {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 12px;
}

/* NAV */

nav {
  width: 100%;
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.logo__section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.company {
  margin-left: 8px;
  text-decoration: none;
  color: black;
  font-size: 36px;
  font-weight: 600;
}

.nav-wrapper {
  width: 100%;
  background-color: #e7e7e7;
  border-bottom: 1px solid black;
}

.logo-top {
  width: 100px;
  height: 100px;
}

.links {
  display: flex;
}

.link {
  display: flex;
  margin-right: 12px;
  padding: 2px 8px;
  text-decoration: none;
  background-color: black;
  color: white;
  border: 2px solid black;
  border-radius: 999px;
  text-align: center;
  transition: all 300ms ease;
}

.link:active {
  transform: scale(0.8);
}

.link:hover {
  transform: scale(1.1);
  background-color: white;
  color: black;
  transform: translateY(-4px);
}



/* BUTTON CONTAINER */

#contact__us {
  margin: 0;
  padding: 0;
}

.contact-btn {
  text-align: center;
  width: 30%;
  text-decoration: none;
  color: white;
  padding: 24px 48px;
  border: 2px solid black;
  background-color: black;
  border-radius: 999px;
  transition: all 300ms ease;;
}

.contact-btn:hover {
  background-color: white;
  color: black;
  transform: translateY(-4px);
}

.button__container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 0;
}

.main__buttons {
  width: 100%;
}


/* LANDING */

.title-main {
  font-size: 48px;
  text-align: center;
}

.horizontal-line {
  margin: 18px 0;
  background-color: black;
  height: 2px;
  width: 80%;
}

.line__bio {
  margin: 12px 0;
  height: 2px;
  width: 40%;
}

.para-main {
  font-size: 24px;
  padding-bottom: 24px;
  text-align: center;
  width: 100%;
}

.real__img {
  width: 50%;
}

.main__img-holder {
  width: 100%;
}

.text__section-landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  vertical-align: top;
  margin-right: 32px;
}

.main-section {
  padding: 48px 0;
  padding-top: 0;
  width: 100%;
  max-width: 1280px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}

.estimate-btn {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  width: 50%;
  padding: 18px 0;
  border: 2px solid black;
  background-color: black;
  color: white;
  border-radius: 999px;
  transition: all 300ms ease;
}

.estimate-btn:hover {
  background-color: white;
  color: black;
  transform: translateY(-4px);
}






/* ABOUT US */

.number__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.small__svg {
  display: inline-block;
  width: 16px;
  margin-left: 8px;
}

.number {
  display: flex;
  vertical-align: center;
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.email {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.m-top {
  margin-top: 12px;
}


.about__us-title {
  font-size: 64px;
  text-align: center;
  padding: 36px 0;
}

.individual__img {
  width: 100%;
  transform: translateY(-5%);
}

.img__container {
  width: 100px;
  height: 100px;
  overflow: hidden;
  padding-bottom: 12px;
  border-radius: 9999px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.individual {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.individual__heading {
  font-size: 36px;
  padding-top: 16px;
}

.dannyandi__container {
  padding-top: 48px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.danny {
  transform: scale(2) translateX(15px) translateY(5px);
}

.about__us--para {
  text-align: center;
  font-size: 20px;
  max-width: 600px;
}

.about__us--text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.individual__bio {
  max-width: 400px;
  text-align: center;
}





/* ESTIMATES */

.form__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.estimates__title {
  font-size: 64px;
  text-align: center;
}

.estimates__instructions {
  padding: 36px 0;
  max-width: 600px;
  text-align: center;
}

.big-btn {
  width: 40%;
  padding: 24px 0;
  font-size: 24px;
}









@media (max-width: 480px) {

  nav {
    justify-content: space-around;
  }

  .company {
    display: none;
  }

  .main-section {
    flex-direction: column-reverse;
    justify-content: center;    
    align-items: center;
  }

  .real__img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 24px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.05);
  }

  .title-main {
    margin-top: 16px;
    font-size: 36px;
    text-align: center;
  }

  .text__section-landing {
    margin: 0;
    padding-bottom: 48px;
  }

  .button__container {
    flex-direction: column;
  }

  .contact-btn {
    width: 100%;
  }

  .m-bottom {
    margin-top: 24px;
  }

  .estimates__title {
    font-size: 48px;
  }

  .big-btn {
    width: 100%;
  }

  .about__us-title {
    font-size: 48px;
  }

  .about__us--para {
    font-size: 18px;
  }

  .dannyandi__container {
    flex-direction: column;
  }

  .individual {
    margin-bottom: 48px;
  }
  
}

@media (max-width: 400px) {

  .contact-btn {
    padding: 24px 16px;
  }

  .big-btn {
    font-size: 20px;
  }
}
